#layout-footer {
    color: white;
    background: grey;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start;
    a {
        color: white;
        text-decoration: none;
        &:hover{
            color:rgb(8, 131, 247);
        }
    }
     
    .footer-nav {

        ul {
          list-style: none;
          li{
              &:hover{
                  transform: scale(1.1);
              }
          }
        }
      }
}